Repository UTM-Online/UTMO.Text.FileGenerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator-Official.yml, .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

.pipelines/UTMO.Text.FileGenerator-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

.pipelines/UTMO.Text.FileGenerator-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
  ...

.pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

updating copilot instructions
  .github/copilot-instructions.md
Due: none

fix: improve path validation and exception handling in DefaultFileWriter
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fixing copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Refactor path validation to use Lazy initialization and improve error handling
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Enhance copilot instructions with core and secondary priorities for development
  .github/copilot-instructions.md
Due: none

Refactor path prefix generation to use candidate list and improve validation handling
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/InternalsVisibleTo.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Update copilot instructions to reflect changes in solution file names and testing framework
  .github/copilot-instructions.md
Due: none

Add support for optional [skip ci] in merge commit messages
  .github/workflows/Auto-Merge-PRs.yml
Due: none

Potential fix for pull request finding 'CodeQL / Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Apply suggestions from code review
  .github/copilot-instructions.md
  .github/workflows/Auto-Merge-PRs.yml
Due: none

Update copilot instructions and enhance path validation checks
  .github/copilot-instructions.md
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Enhance path validation to correctly handle Windows extended-length prefixes
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Update copilot instructions and clarify [skip ci] usage in merge commit messages
  .github/copilot-instructions.md
  .github/workflows/Auto-Merge-PRs.yml
Due: none

Copilot/fix path validation bypass (#23)
  .github/copilot-instructions.md
  .github/workflows/Auto-Merge-PRs.yml
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/InternalsVisibleTo.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

fix: update feature flag names and clarify migration instructions for template properties
  README.md
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateModel.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

fix: correct feature flag name for parallel resource rendering
  src/v2/TestFileGenerator.Core.Tests/Constants/ConstantsTests.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

fix: update feature flag names and improve migration instructions for template properties
  README.md
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateModel.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Security: Restrict template context exposure to opt-in [TemplateProperty] attribute (#24)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Constants/ConstantsTests.cs
  src/v2/TestFileGenerator.Core.Tests/README.md
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateModel.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Fix misplaced test and TemplateRenderingException constructor KeyNotFoundException bug
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/dotnet.yml
Due: none

Potential fix for code scanning alert no. 6: Workflow does not contain permissions (#26)
  .github/workflows/dotnet.yml
Due: none

Fix DoS vulnerability: add render timeout and output size limit to TemplateRenderer (#25)
  src/v2/TestFileGenerator.Core.Tests/Integration/EndToEndGenerationTests.cs
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Security: Fix TOCTOU race condition in DefaultFileWriter file creation (CWE-367) (#28)
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
  src/v2/TestFileGenerator.Core.Tests/Resources/test-embedded-resource.txt
  src/v2/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor template rendering timeout handling and improve path sanitization checks
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fix: LegacyNonPublicTemplateProperties flag fails to restore public property exposure (#31)
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fix: nested TemplateResourceBase children don't inherit FeatureManager/Logger, breaking LegacyNonPublicTemplateProperties rendering (#32)
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fixing versioning
  .github/workflows/dotnet.yml
Due: none

fix: update package version handling in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

feat: enhance GitHub release creation with conditional release flags
  .github/workflows/dotnet.yml
Due: none

Replace per-property legacy warning flood with end-of-execution summary (#40)
  .github/workflows/dotnet.yml
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/InternalsVisibleTo.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

pipeline update
  .github/workflows/dotnet.yml
Due: none

Potential fix for pull request finding 'Unnecessarily complex Boolean expression'
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add SuppressNonPublicPropertyWarnings feature flag (#42)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator/Extensions/FeatureManagement.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add option to generate only manifest files in CLI
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGeneratorCliOptions.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/GeneratorCliOptions.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Add tests for GenerateManifestsOnly CLI option in FileGeneratorHost
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/GeneratorCliOptionsTests.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor FileGeneratorHost to use GeneratorOptions for manifest generation logic
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

roll minor version for breaking change
  .github/workflows/dotnet.yml
Due: none

Normalize CLI options to ensure GenerateManifestsOnly implies GenerateManifest
  src/v2/TestFileGenerator.Core.Tests/Models/GeneratorCliOptionsTests.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/Models/GeneratorCliOptions.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator-Official.yml: any of: src/UTMO.Text.FileGenerator, src/UTMO.Text.FileGenerator.Abstract, src/UTMO.Text.FileGenerator.Writer
  .pipelines/UTMO.Text.FileGenerator-Unified.yml: any of: src/v2
  .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Abstract
  .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml: any of: src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration
  .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Validators
