Repository UTM-Online/UTMO.Text.FileGenerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator-Official.yml, .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator-Official.yml: any of: src/UTMO.Text.FileGenerator, src/UTMO.Text.FileGenerator.Abstract, src/UTMO.Text.FileGenerator.Writer
  .pipelines/UTMO.Text.FileGenerator-Unified.yml: any of: src/v2
  .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Abstract
  .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml: any of: src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration
  .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Validators

Comment out environment variable settings in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Temporarly switching pools
  .github/workflows/dotnet.yml
Due: none

Adding Automerge workflow
  .github/workflows/Auto-Merge-PRs.yml
Due: none

Configure Dependabot for NuGet package updates
  .github/dependabot.yml
Due: none

Potential fix for pull request finding
  .github/dependabot.yml
Due: none

Configure Dependabot for NuGet package updates (#14)
  .github/dependabot.yml
Due: none

Update package versions and enhance logging for template property exposure
  src/v2/Directory.Packages.props
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add LegacyTemplatePropertyAttribute for backward compatibility and update references
  src/v2/TestFileGenerator.Core.Tests/Constants/ConstantsTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/LegacyTemplatePropertyAttribute.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/TemplatePropertyAttribute.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator/Extensions/FeatureManagement.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Refactor ApplyRuntimeServices method to assign FeatureManager and Logger to TemplateResourceBase and add unit tests for runtime service application
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostRuntimeServicesTests.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add TemplatePropertyAttribute for secure template exposure and update… (#15)
  src/v2/Directory.Packages.props
  src/v2/TestFileGenerator.Core.Tests/Constants/ConstantsTests.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostRuntimeServicesTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/LegacyTemplatePropertyAttribute.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/TemplatePropertyAttribute.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator/Extensions/FeatureManagement.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Implement path validation to mitigate path traversal vulnerability in template path resolution
  SECURITY_FIX_SUMMARY.md
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add InvalidTemplatePathException to handle invalid template paths and update validation logic
  SECURITY_FIX_SUMMARY.md
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Exceptions/InvalidTemplatePathException.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Enhance path validation to prevent traversal vulnerabilities and update exception handling
  SECURITY_FIX_SUMMARY.md
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Implement path validation to mitigate path traversal vulnerability in… (#16)
  SECURITY_FIX_SUMMARY.md
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Exceptions/InvalidTemplatePathException.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor exit handling in file generation process to use exceptions instead of Environment.Exit
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostRuntimeServicesTests.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Exceptions/InvalidOutputDirectoryException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Utils/LoggingHelpers.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Introduce FatalOperationException for improved exit handling and refactor exit code management in file generation process
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostRuntimeServicesTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/FatalOperationException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationExitCodeHolder.cs
  src/v2/UTMO.Text.FileGenerator/Utils/LoggingHelpers.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Refactor FatalOperationException to enhance message formatting and update exit code handling in file generation process
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostExitCodeTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/FatalOperationException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Refactor exit handling in FileGeneratorHost to use OperationCanceledException and update related tests for cancellation scenarios
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostExitCodeTests.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor exit handling in file generation process to use exceptions i… (#18)
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostExitCodeTests.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostRuntimeServicesTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/FatalOperationException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Exceptions/InvalidOutputDirectoryException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationExitCodeHolder.cs
  src/v2/UTMO.Text.FileGenerator/Utils/LoggingHelpers.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Add pull request support and conditional steps to GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Update version to 2.16 in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Add publish step for build artifacts and adjust conditions for NuGet operations
  .github/workflows/dotnet.yml
Due: none

Add checkout step and specify repository for GitHub release creation
  .github/workflows/dotnet.yml
Due: none

Update version to 2.16 and modify package versioning for alpha release
  .github/workflows/dotnet.yml
Due: none

Add prerelease flag to GitHub release creation step
  .github/workflows/dotnet.yml
Due: none

Implement security enhancements to prevent sensitive data exposure in exception logging
  .github/copilot-instructions.md
  ISSUE_9_FIX_SUMMARY.md
  SECURITY_FIX_ISSUE_9.md
  src/v2/TestFileGenerator.Core.Tests/Exceptions/ExceptionTests.cs
  src/v2/TestFileGenerator.Core.Tests/Utils/SensitiveDataSanitizerTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
  src/v2/UTMO.Text.FileGenerator/Utils/SensitiveDataSanitizer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Enhance security by redacting sensitive data in exception logging and template context
  src/v2/TestFileGenerator.Core.Tests/Utils/SensitiveDataSanitizerTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
  src/v2/UTMO.Text.FileGenerator/Utils/SensitiveDataSanitizer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Refactor security handling in template rendering to ensure sensitive data is not exposed in exceptions
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
  src/v2/UTMO.Text.FileGenerator/Utils/SensitiveDataSanitizer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Adjust workflow triggers in dotnet.yml for upcoming release merge
  .github/workflows/dotnet.yml
Due: none

Change build runner to Windows for compatibility in CI workflow
  .github/workflows/dotnet.yml
Due: none

Refactor exception handling to prevent sensitive data exposure in logging and context
  src/v2/TestFileGenerator.Core.Tests/Exceptions/ExceptionTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Implement security enhancements to prevent sensitive data exposure in… (#19)
  .github/copilot-instructions.md
  .github/workflows/dotnet.yml
  ISSUE_9_FIX_SUMMARY.md
  SECURITY_FIX_ISSUE_9.md
  src/v2/TestFileGenerator.Core.Tests/Exceptions/ExceptionTests.cs
  src/v2/TestFileGenerator.Core.Tests/Utils/SensitiveDataSanitizerTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateRenderingException.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
  src/v2/UTMO.Text.FileGenerator/Utils/SensitiveDataSanitizer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Add NuGet vulnerability scanning and update security practices
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet.yml
  SECURITY.md
  scripts/check-vulnerabilities.ps1
Due: none

Enhance NuGet vulnerability audit process and update security documentation
  .github/workflows/dotnet.yml
  SECURITY.md
  scripts/check-vulnerabilities.ps1
Due: none

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

Add NuGet vulnerability scanning and update security practices (#20)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet.yml
  SECURITY.md
  scripts/check-vulnerabilities.ps1
Due: none

Address review feedback for system path detection and exception filter
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Address async assertion and path join review comments in security tests
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml
