Repository UTM-Online/UTMO.Text.FileGenerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator-Official.yml, .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

.pipelines/UTMO.Text.FileGenerator-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

.pipelines/UTMO.Text.FileGenerator-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
  ...

.pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

Enhance GitHub Actions workflow to calculate and set semantic versioning dynamically
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions to use github-tag-action for semantic versioning
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions tag prefix to use a generic 'v' for versioning
  .github/workflows/dotnet.yml
Due: none

chore: Update GitHub Actions configuration to specify release and pre-release branches
  .github/workflows/dotnet.yml
Due: none

fix: Improve semantic version extraction in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

fix: Refine semantic version extraction in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

fix: Add logging for calculated version in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

feat: Add RequiresGeneration property to plugin base interface
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/EnvironmentInitPlugin.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IFileGeneratorPluginBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

chore: Update NuGet package versions for core and test deps
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

fix: Filter plugins by CanRunPlugin in FileGeneratorHost
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

fix: Improve manifest logic, tests, and version handling
  .github/workflows/dotnet.yml
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Add option to generate only manifest files in CLI (#44)
  .github/workflows/dotnet.yml
  src/v2/Directory.Packages.props
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/EnvironmentInitPlugin.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/GeneratorCliOptionsTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IFileGeneratorPluginBase.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGeneratorCliOptions.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/GeneratorCliOptions.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Apply suggestions from code review
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestIndexBuildingPluginTests.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

feat: Enable manifest reference resolution for cross-resource property injection at generation time (#47)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Integration/ManifestReferenceResolutionIntegrationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestReferenceIndexTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestIndexBuildingPluginTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestReferenceResolverPluginTests.cs
  src/v2/UTMO.Text.FileGenerator/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator/Exceptions/ManifestReferenceResolutionException.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReferenceIndex.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceResolverPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor manifest references to support generic type inference and mapper-based resolution (#49)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestReferenceResolverPluginTests.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceResolverPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

chore: Update package versions and refactor feature flag namespace
  src/v2/Directory.Packages.props
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestHelpers.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/UTMO.Text.FileGenerator.ResourceManifestGeneration.csproj
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestIndexBuildingPluginTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestReferenceResolverPluginTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator/Extensions/FeatureManagement.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceResolverPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

feat!: introduce typed manifest contracts and generic manifest production (#51)
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/TestFileGenerator.Core.Tests/Integration/ManifestReferenceResolutionIntegrationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestIndexBuildingPluginTests.cs
  src/v2/TestFileGenerator.Core.Tests/Plugins/ManifestReferenceResolverPluginTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProducer.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

chore: Update packages
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Potential fix for pull request finding
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Propagate overwrite flag to generated file writes (#54)
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/TestFileGenerator.Core.Tests/FileGeneratorHostGenerateManifestsOnlyTests.cs
  src/v2/TestFileGenerator.Core.Tests/TemplateRenderer/TemplateRendererTests.cs
  src/v2/UTMO.Text.FileGenerator/TemplateRenderer.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

chore: Upgrade target framework to .NET 10 and update package versions
  src/global.json
  src/v2/Directory.Packages.props
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/UTMO.Text.FileGenerator.EnvironmentInit.csproj
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/UTMO.Text.FileGenerator.ResourceManifestGeneration.csproj
  src/v2/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
  src/v2/UTMO.Text.FileGenerator.Abstract/UTMO.Text.FileGenerator.Abstract.csproj
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/UTMO.Text.FileGenerator.DefaultFileWriter.csproj
  src/v2/UTMO.Text.FileGenerator.Validators/UTMO.Text.FileGenerator.Validators.csproj
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

chore: Upgrade target framework to .NET 10 and update package versions (#55)
  src/global.json
  src/v2/Directory.Packages.props
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/UTMO.Text.FileGenerator.EnvironmentInit.csproj
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/UTMO.Text.FileGenerator.ResourceManifestGeneration.csproj
  src/v2/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
  src/v2/UTMO.Text.FileGenerator.Abstract/UTMO.Text.FileGenerator.Abstract.csproj
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/UTMO.Text.FileGenerator.DefaultFileWriter.csproj
  src/v2/UTMO.Text.FileGenerator.Validators/UTMO.Text.FileGenerator.Validators.csproj
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

fix: sort properties dictionary by key in TemplateResourceBase
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

feat: add subject-based manifest references (#57)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Integration/ManifestReferenceResolutionIntegrationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/SubjectManifestReferenceTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProducer.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReferenceIndex.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceResolverPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Addressing vuln reported in pipeline permissions
  .github/workflows/dotnet.yml
Due: none

feat: extract IGenerationScope and LocalManifestProvider (#57 P0)
  README.md
  src/v2/TestFileGenerator.Core.Tests/Models/GenerationScopeTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/LocalManifestProviderTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGenerationScope.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationScope.cs
  src/v2/UTMO.Text.FileGenerator/Models/LocalManifestProvider.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

fix: address PR #58 active review comments
  src/v2/TestFileGenerator.Core.Tests/Models/LocalManifestProviderTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/SubjectManifestReferenceTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGenerationScope.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationScope.cs
  src/v2/UTMO.Text.FileGenerator/Models/LocalManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReferenceIndex.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

chore: Update pre-release branch pattern and include README.md in project metadata
  .github/workflows/dotnet.yml
  src/UTMO.Text.FileGenerator.slnx
Due: none

Implement Manifest v2 phases P1-P4 (issue #57)
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPackageEmissionPlugin.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ArtifactManifestProviderTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/GenerationScopeCoordinateRegistryTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestOrderingResolverTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestReferenceInfoTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestReferenceValidationTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGenerationScopeCoordinate.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestIdentity.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestObservationSink.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/INestedManifest.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITranslatableScope.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ManifestReferenceInfo.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ManifestReferenceTarget.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/ArtifactManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationScopeCoordinateRegistry.cs
  src/v2/UTMO.Text.FileGenerator/Models/InMemoryManifestObservationSink.cs
  src/v2/UTMO.Text.FileGenerator/Models/LocalManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestOrderingResolver.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/NestedManifestBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceValidationPlugin.cs
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

chore: update pre-release branch pattern to support regex matching
  .github/workflows/dotnet.yml
Due: none

Address PR #58 review comments
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPackageEmissionPlugin.cs
  src/v2/TestFileGenerator.Core.Tests/Integration/ManifestReferenceResolutionIntegrationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ArtifactManifestProviderTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/SubjectManifestReferenceTests.cs
  src/v2/UTMO.Text.FileGenerator/Models/ArtifactManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestOrderingResolver.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReferenceIndex.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceValidationPlugin.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

feat: Manifest v2 phases P0-P4 (subject-based references, typed resolution, validation, Manifest Packages, nested manifests & ordering) (#58)
  .github/workflows/dotnet.yml
  README.md
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPackageEmissionPlugin.cs
  src/v2/TestFileGenerator.Core.Tests/Integration/ManifestReferenceResolutionIntegrationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ArtifactManifestProviderTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/GenerationScopeCoordinateRegistryTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/GenerationScopeTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/LocalManifestProviderTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestOrderingResolverTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestReferenceInfoTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/ManifestReferenceValidationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Models/SubjectManifestReferenceTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Constants/FeatureFlags.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGenerationScope.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGenerationScopeCoordinate.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestIdentity.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestObservationSink.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProducer.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/INestedManifest.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITranslatableScope.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ManifestReferenceInfo.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ManifestReferenceTarget.cs
  src/v2/UTMO.Text.FileGenerator/FeatureFlights.manifest.json
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/Models/ArtifactManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationScope.cs
  src/v2/UTMO.Text.FileGenerator/Models/GenerationScopeCoordinateRegistry.cs
  src/v2/UTMO.Text.FileGenerator/Models/InMemoryManifestObservationSink.cs
  src/v2/UTMO.Text.FileGenerator/Models/LocalManifestProvider.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestOrderingResolver.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReference.cs
  src/v2/UTMO.Text.FileGenerator/Models/ManifestReferenceIndex.cs
  src/v2/UTMO.Text.FileGenerator/Models/NestedManifestBase.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestIndexBuildingPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceResolverPlugin.cs
  src/v2/UTMO.Text.FileGenerator/Plugins/ManifestReferenceValidationPlugin.cs
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Path conditions:
  .pipelines/UTMO.Text.FileGenerator-Official.yml: any of: src/UTMO.Text.FileGenerator, src/UTMO.Text.FileGenerator.Abstract, src/UTMO.Text.FileGenerator.Writer
  .pipelines/UTMO.Text.FileGenerator-Unified.yml: any of: src/v2
  .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Abstract
  .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml: any of: src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration
  .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Validators
