Repository UTM-Online/UTMO.Text.FileGenerator: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/UTMO.Text.FileGenerator-Official.yml, .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

.pipelines/UTMO.Text.FileGenerator-Official.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Build/Build.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      NugetConfigPath: $(RepoRoot)/src/nuget.config
      ProjectsToBuild: $(Projects)
  ...

.pipelines/UTMO.Text.FileGenerator-Unified.yml:
  name: ${{ parameters.MajorVersion }}.${{ parameters.MinorVersion }}$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
  ...

.pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: $(Configuration)
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

.pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml:
  name: $(MajorVersion).$(MinorVersion)$(Rev:.r)
  extends:
    template: v2/Pipelines/UserTemplates/Unified/BuildDeploy.NugetPkg.Template.yml@Templates
    parameters:
      BuildPool: Public
      BuildConfiguration: ${{ parameters.Configuration }}
      NugetConfigPath: $(RepoRoot)/src/nuget.config
  ...

Updating packages
  src/v2/Directory.Packages.props
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Updating how default logging is handled.
  .pipelines/UTMO.Text.FileGenerator-Unified.yml
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor logging configuration to use Serilog's LogEventLevel
  src/v2/UTMO.Text.FileGenerator/FileGenerator.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Add solution and global.json files; update package versions
  src/UTMO.Text.FileGenerator.slnx
  src/global.json
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fixing a bug where a race condition can occure when Validate is called before resources have been populated.
  src/v2/UTMO.Text.FileGenerator/GenerationEnvironmentBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Packages fixes
  src/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
  src/UTMO.Text.FileGenerator.slnx
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Fixing test project not using CPM
  src/UTMO.Text.FileGenerator.slnx
  src/v2/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Adding suppression
  src/v2/UTMO.Text.FileGenerator/GenerationEnvironmentBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Merged PR 41: Adding missing logic to ensure only files marked for generation are generated.
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Updating packages
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Refactor ProcessPlugin methods to return boolean status and handle exceptions
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/EnvironmentInitPlugin.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IPipelinePlugin.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IRenderingPipelinePlugin.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Incrimenting minor versionin due to API Surface change
  .pipelines/UTMO.Text.FileGenerator-Unified.yml
Due: none

Implimenting the validation logic
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Enhance file generation exit logic to differentiate between success and error states
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Builds will remain clean
  src/v2/Directory.Build.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Adding copilot instructions to the repo
  .github/copilot-instructions.md
Due: none

Add GitHub Actions workflow for .NET project
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions workflow to specify solution path for restore, build, and test steps
  .github/workflows/dotnet.yml
Due: none

Fix .NET workflow to use correct solution file and add FluentAssertions and Moq package versions
  .github/workflows/dotnet.yml
  src/v2/Directory.Packages.props
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml

Adding github repo instructions
  src/.github/copilot-instructions.md
Due: none

Refactor validation error handling and update validation failure types
  src/.github/copilot-instructions.md
  src/UTMO.Text.FileGenerator.sln
  src/UTMO.Text.FileGenerator.sln.DotSettings
  src/nuget.config
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/EnvironmentInitPlugin.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/TestFileGenerator.Core.Tests/Constants/ConstantsTests.cs
  src/v2/TestFileGenerator.Core.Tests/DefaultFileWriter/DefaultFileWriterSecurityTests.cs
  src/v2/TestFileGenerator.Core.Tests/Environment/GenerationEnvironmentBaseTests.cs
  src/v2/TestFileGenerator.Core.Tests/Exceptions/ExceptionTests.cs
  src/v2/TestFileGenerator.Core.Tests/Integration/EndToEndGenerationTests.cs
  src/v2/TestFileGenerator.Core.Tests/Validators/BasicValidatorsTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Constants/ExitCodes.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IPipelinePlugin.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Enums/ValidationFailureType.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/FileGeneratorHost.cs
  src/v2/UTMO.Text.FileGenerator/GenerationEnvironmentBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Add publish and artifact upload steps to GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions workflow to use upload-artifact@v6
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions workflow to include packaging step and set versioning
  .github/workflows/dotnet.yml
  src/v2/Plug-ins/UTMO.Text.FileGenerator.EnvironmentInit/UTMO.Text.FileGenerator.EnvironmentInit.csproj
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/UTMO.Text.FileGenerator.ResourceManifestGeneration.csproj
  src/v2/TestFileGenerator.Core.Tests/TestFileGenerator.Core.Tests.csproj
  src/v2/UTMO.Text.FileGenerator.Abstract/UTMO.Text.FileGenerator.Abstract.csproj
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/UTMO.Text.FileGenerator.DefaultFileWriter.csproj
  src/v2/UTMO.Text.FileGenerator.Validators/UTMO.Text.FileGenerator.Validators.csproj
  src/v2/UTMO.Text.FileGenerator/UTMO.Text.FileGenerator.csproj
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml

Fix packaging step in GitHub Actions workflow by removing unnecessary --no-build flag
  .github/workflows/dotnet.yml
Due: none

Enhance GitHub Actions workflow by adding NuGet push and GitHub release steps
  .github/workflows/dotnet.yml
Due: none

Add NuGet push step to GitHub Actions workflow for package deployment
  .github/workflows/dotnet.yml
Due: none

Update GitHub Actions workflow to trigger on changes in the src/v2 directory
  .github/workflows/dotnet.yml
Due: none

Remove obsolete pipeline configuration files from solution
  .pipelines/UTMO.Text.FileGenerator-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.Build-Variables.yml
  .pipelines/UTMO.Text.FileGenerator.Core-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.DefaultFileWriter-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.EnvironmentInit-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.PipelinePlugin.ScriptRunner-Official.yml
  .pipelines/UTMO.Text.FileGenerator.PipelinePlugin.ScriptRunner-Release.yml
  .pipelines/UTMO.Text.FileGenerator.RendererPlugin.ScriptRunner-Official.yml
  .pipelines/UTMO.Text.FileGenerator.RendererPlugin.ScriptRunner-Release.yml
  .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml
  .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml
  src/UTMO.Text.FileGenerator.slnx
Due: none

Add package metadata publishing step to GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Add workflow_dispatch trigger to GitHub Actions for manual execution
  .github/workflows/dotnet.yml
Due: none

Refactor GitHub Actions workflow to use environment variable for solution path
  .github/workflows/dotnet.yml
Due: none

Update copyright information and add license details across multiple files
  LICENSE
  src/v2/Directory.Build.props
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestHelpers.cs
  src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration/ManifestPipelineProcessor.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/IgnoreMemberAttribute.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/MemberNameAttribute.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGeneralFileWriter.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IGeneratorStartup.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IManifestProducer.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/IRegisterPluginManager.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateGenerationEnvironment.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateGenerationEnvironmentCore.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateGenerationRenderer.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateModel.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Contracts/ITemplateRenderer.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/DuplicateResourceDetectedException.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/GlobalContextKeyExistsException.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/InvalidOutputDirectoryException.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/LocalContextKeyExistsException.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/NoGeneratedTextException.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Exceptions/TemplateNotFoundException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/DefaultFileWriter.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Exceptions/InvalidOutputDirectoryException.cs
  src/v2/UTMO.Text.FileGenerator.DefaultFileWriter/Extensions.cs
  src/v2/UTMO.Text.FileGenerator/Extensions/DictionaryExtensions.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml, .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml

Change runner environment to OnPremRunners in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Set DOTNET_INSTALL_DIR and DOTNET_ROOT environment variables in GitHub Actions workflow
  .github/workflows/dotnet.yml
Due: none

Add GitHub Actions workflow file to project metadata
  src/UTMO.Text.FileGenerator.slnx
Due: none

Add TemplatePropertyAttribute for secure template exposure and update TemplateResourceBase to enforce opt-in security
  src/v2/TestFileGenerator.Core.Tests/Models/TemplateResourceBaseSecurityTests.cs
  src/v2/UTMO.Text.FileGenerator.Abstract/Attributes/TemplatePropertyAttribute.cs
  src/v2/UTMO.Text.FileGenerator/Models/TemplateResourceBase.cs
Due: .pipelines/UTMO.Text.FileGenerator-Unified.yml, .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml

Temporarly switching pools
  .github/workflows/dotnet.yml
Due: none

Path conditions:
  .pipelines/UTMO.Text.FileGenerator-Official.yml: any of: src/UTMO.Text.FileGenerator, src/UTMO.Text.FileGenerator.Abstract, src/UTMO.Text.FileGenerator.Writer
  .pipelines/UTMO.Text.FileGenerator-Unified.yml: any of: src/v2
  .pipelines/UTMO.Text.FileGenerator.Abstract-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Abstract
  .pipelines/UTMO.Text.FileGenerator.ResourceManifestGenerator-Unified.yml: any of: src/v2/Plug-ins/UTMO.Text.FileGenerator.ResourceManifestGeneration
  .pipelines/UTMO.Text.FileGenerator.Validators-Unified.yml: any of: src/v2/UTMO.Text.FileGenerator.Validators
